<%- include('../partials/header.ejs')%>
<main>
    <div class = "content">
        <h4>Welcome, <%=user.firstName%></h4> 
        <%if(connections.length) {%>
            <p>You have created the following connection(s)</p>
            <%connections.forEach(connection => {%>
                <a href = '/connections/<%= connection.id%>'><p><%=connection.title%></p></a>
            <%});
        } else {%>
            <p>You have not created any connections</p>
        <%}%>
    </div>
</main>
<%- include('../partials/footer.ejs')%>
